<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">About Us</h1>
        <p class="lead">I was born in India on 21 Feb 2000....Note it a Legend was droped from haven that day
            <br>I completed my high school from
            <a href="http://shishuniketanschool.com/" class="sclName" >Shishu Niketan School</a>and scored 80%. Then I get admission in
            <a href="https://www.centennialcollege.ca/" class="sclName" >Centennial College</a> in Sofware Engenring Technology. On 31 December I steped in Canada, I was greated very well
            with -30&deg;c. It took around 2 months to get setelled in this new environment. The 1st place I visited here was
            <a href="http://www.cntower.ca/intro.html" class="sclName" >The CN Tower</a> Canadians are proud to have this specially Torontonian. Soon I found some friend in the college
            and life took pace. The second challenge was to find some part time work after trying hard rather too hard i finally
            started working at
            <a href="https://www.lids.ca/?cpid=ps-google&utm_medium=cpc&utm_source=google&utm_campaign=CA-Branded-Exact&utm_content=113208770467&utm_term=lids&utm_account=Lids-ca-G&utm_adgroup=Lids+-+Top+Converters&gclid=Cj0KCQjwgMnYBRDRARIsANC2dfmFxGz60wf4GKbVEAYhStM0CjTUKYyoPOG8f6fKBM_p1zQAKQaImqIaArVwEALw_wcB&gclsrc=aw.ds"
              target="yo" class="sclName">LIDS</a>
          </p>
    
    </div>
</div>